In [159]:
import pandas as pd

df = pd.read_excel('data_gemastik_kriminalitas.xlsx')

df.head()

,daerah,tahun,indeks_pembangunan_manusia,tingkat_pengangguran_terbuka,jumlah_tindak_pidana,jumlah_penyelasaian,jumlah_penduduk_miskin,tingkat_pendidikan,selang_waktu
0,Pacitan,2016,65.74,0.85,99,41,85.53,0.58,100.0
1,Pacitan,2017,66.51,1.39,75,27,85.26,0.59,1103.0
2,Pacitan,2018,67.33,0.91,157,99,78.64,0.59,288.0
3,Ponorogo,2016,68.93,3.76,545,502,102.06,0.61,1307.0
4,Ponorogo,2017,69.26,3.77,408,364,99.03,0.62,624.0

In [160]:
df.isna().sum()

daerah                          0
tahun                           0
indeks_pembangunan_manusia      0
tingkat_pengangguran_terbuka    0
jumlah_tindak_pidana            0
jumlah_penyelasaian             0
jumlah_penduduk_miskin          0
tingkat_pendidikan              0
selang_waktu                    0
dtype: int64

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   daerah                        114 non-null    object
 1   tahun                         114 non-null    int64
 2   indeks_pembangunan_manusia    114 non-null    float64
 3   tingkat_pengangguran_terbuka  114 non-null    float64
 4   jumlah_tindak_pidana          114 non-null    int64
 5   jumlah_penyelasaian           114 non-null    int64
 6   jumlah_penduduk_miskin        114 non-null    float64
 7   tingkat_pendidikan            114 non-null    float64
 8   selang_waktu                  114 non-null    float64
dtypes: float64(5), int64(3), object(1)
memory usage: 8.1+ KB

In [162]:
df.describe()

,tahun,indeks_pembangunan_manusia,tingkat_pengangguran_terbuka,jumlah_tindak_pidana,jumlah_penyelasaian,jumlah_penduduk_miskin,tingkat_pendidikan,selang_waktu
count,114.000000,114.000000,114.000000,114.000000,114.000000,114.000000,114.000000,114.000000
mean,2017.000000,70.371316,3.707632,931.219298,701.754386,119.762368,0.622105,655.232456
std,0.820101,5.275056,1.181536,1102.437097,866.276383,73.370198,0.076245,375.283853
min,2016.000000,59.090000,0.850000,75.000000,27.000000,7.040000,0.450000,36.000000
25%,2016.000000,66.247500,2.927500,413.500000,283.250000,77.972500,0.570000,370.950000
50%,2017.000000,69.920000,3.665000,549.000000,406.000000,118.050000,0.610000,565.550000
75%,2018.000000,73.975000,4.430000,938.000000,786.000000,167.825000,0.677500,937.000000
max,2018.000000,81.740000,7.220000,7817.000000,5392.000000,293.740000,0.770000,1440.000000

In [151]:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = le.fit_transform(df[col])

In [152]:
df.head()

,daerah,tahun,indeks_pembangunan_manusia,tingkat_pengangguran_terbuka,jumlah_tindak_pidana,jumlah_penyelasaian,jumlah_penduduk_miskin,tingkat_pendidikan,selang_waktu
0,26,2016,65.74,0.85,99,41,85.53,0.58,100.0
1,26,2017,66.51,1.39,75,27,85.26,0.59,1103.0
2,26,2018,67.33,0.91,157,99,78.64,0.59,288.0
3,29,2016,68.93,3.76,545,502,102.06,0.61,1307.0
4,29,2017,69.26,3.77,408,364,99.03,0.62,624.0

In [153]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

X_train_resampled_d = sm.add_constant(df.iloc[:, 2:11])

vif_data = pd.DataFrame()
vif_data["Fitur"] = X_train_resampled_d.columns
vif_data["VIF"] = [variance_inflation_factor(X_train_resampled_d.values, i) for i in range(X_train_resampled_d.shape[1])]

print(vif_data)

                          Fitur          VIF
0                         const  1120.060574
1    indeks_pembangunan_manusia    26.051167
2  tingkat_pengangguran_terbuka     1.591802
3          jumlah_tindak_pidana    16.619138
4           jumlah_penyelasaian    15.052397
5        jumlah_penduduk_miskin     2.963275
6            tingkat_pendidikan    26.069784
7                  selang_waktu     1.205667

In [154]:
df.drop(columns=['tingkat_pendidikan','jumlah_penyelasaian'],inplace=True)

In [155]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

X_train_resampled_d = sm.add_constant(df.iloc[:, 2:11])

vif_data = pd.DataFrame()
vif_data["Fitur"] = X_train_resampled_d.columns
vif_data["VIF"] = [variance_inflation_factor(X_train_resampled_d.values, i) for i in range(X_train_resampled_d.shape[1])]

print(vif_data)

                          Fitur         VIF
0                         const  705.161057
1    indeks_pembangunan_manusia    3.823177
2  tingkat_pengangguran_terbuka    1.572258
3          jumlah_tindak_pidana    2.130643
4        jumlah_penduduk_miskin    2.836293
5                  selang_waktu    1.136336

In [156]:
from scipy.stats import kstest

for column in df.iloc[:, 2:11].columns:
    stat, p = kstest(df[column], 'norm')
    print(f'Kolmogorov-Smirnov test for {column}:')
    print(f'Statistic: {stat}, p-value: {p}')
    if p < 0.05:
        print(f'Reject null hypothesis: {column} tidak terdistribusi secara normal')
    else:
        print(f'Tidak cukup bukti untuk menolak null hypothesis: {column} terdistribusi secara normal')
    print('\n')

Kolmogorov-Smirnov test for indeks_pembangunan_manusia:
Statistic: 1.0, p-value: 0.0
Reject null hypothesis: indeks_pembangunan_manusia tidak terdistribusi secara normal


Kolmogorov-Smirnov test for tingkat_pengangguran_terbuka:
Statistic: 0.9248531238379373, p-value: 1.4301105273862445e-128
Reject null hypothesis: tingkat_pengangguran_terbuka tidak terdistribusi secara normal


Kolmogorov-Smirnov test for jumlah_tindak_pidana:
Statistic: 1.0, p-value: 0.0
Reject null hypothesis: jumlah_tindak_pidana tidak terdistribusi secara normal


Kolmogorov-Smirnov test for jumlah_penduduk_miskin:
Statistic: 0.9999999999990388, p-value: 0.0
Reject null hypothesis: jumlah_penduduk_miskin tidak terdistribusi secara normal


Kolmogorov-Smirnov test for selang_waktu:
Statistic: 1.0, p-value: 0.0
Reject null hypothesis: selang_waktu tidak terdistribusi secara normal

In [157]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PowerTransformer

# Inisialisasi PowerTransformer (pilihan metode: 'yeo-johnson' atau 'box-cox')
pt = PowerTransformer(method='yeo-johnson')

# Fit dan transformasi data
df = pd.DataFrame(pt.fit_transform(df), columns=df.columns)

In [158]:
from scipy.stats import kstest

for column in df.iloc[:, 2:11].columns:
    stat, p = kstest(df[column], 'norm')
    print(f'Kolmogorov-Smirnov test for {column}:')
    print(f'Statistic: {stat}, p-value: {p}')
    if p < 0.05:
        print(f'Reject null hypothesis: {column} tidak terdistribusi secara normal')
    else:
        print(f'Tidak cukup bukti untuk menolak null hypothesis: {column} terdistribusi secara normal')
    print('\n')

Kolmogorov-Smirnov test for indeks_pembangunan_manusia:
Statistic: 0.054580714673030384, p-value: 0.8676314097262638
Tidak cukup bukti untuk menolak null hypothesis: indeks_pembangunan_manusia terdistribusi secara normal


Kolmogorov-Smirnov test for tingkat_pengangguran_terbuka:
Statistic: 0.053065377952479564, p-value: 0.8880994941297989
Tidak cukup bukti untuk menolak null hypothesis: tingkat_pengangguran_terbuka terdistribusi secara normal


Kolmogorov-Smirnov test for jumlah_tindak_pidana:
Statistic: 0.07787623363571114, p-value: 0.4704391407617111
Tidak cukup bukti untuk menolak null hypothesis: jumlah_tindak_pidana terdistribusi secara normal


Kolmogorov-Smirnov test for jumlah_penduduk_miskin:
Statistic: 0.09831001537241899, p-value: 0.2064705434283537
Tidak cukup bukti untuk menolak null hypothesis: jumlah_penduduk_miskin terdistribusi secara normal


Kolmogorov-Smirnov test for selang_waktu:
Statistic: 0.07034205111105107, p-value: 0.6002242948377531
Tidak cukup bukti untuk menolak null hypothesis: selang_waktu terdistribusi secara normal

In [124]:
from linearmodels.panel import RandomEffects

# Pastikan data memiliki MultiIndex dengan group dan year
data = df.set_index(['daerah', 'tahun'])

# Regresi panel dengan efek acak (random effects)
model_re = RandomEffects.from_formula('selang_waktu ~ 1 + indeks_pembangunan_manusia + tingkat_pengangguran_terbuka + jumlah_tindak_pidana + jumlah_penduduk_miskin', data=data)
result_re = model_re.fit()

# Tampilkan summary hasil regresi
print(result_re.summary)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:           selang_waktu   R-squared:                        0.0903
Estimator:              RandomEffects   R-squared (Between):              0.1874
No. Observations:                 114   R-squared (Within):               0.0405
Date:                Fri, Jun 28 2024   R-squared (Overall):              0.1023
Time:                        09:36:14   Log-likelihood                   -148.88
Cov. Estimator:            Unadjusted
                                        F-statistic:                      2.7063
Entities:                          38   P-value                           0.0340
Avg Obs:                       3.0000   Distribution:                   F(4,109)
Min Obs:                       3.0000
Max Obs:                       3.0000   F-statistic (robust):             2.7063
                                        P-value                           0.0340
Time periods:                       3   Distribution:                   F(4,109)
Avg Obs:                       38.000
Min Obs:                       38.000
Max Obs:                       38.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
Intercept                    -4.443e-14     0.1017 -4.368e-13     1.0000     -0.2016      0.2016
indeks_pembangunan_manusia      -0.2939     0.1827    -1.6088     0.1106     -0.6560      0.0682
tingkat_pengangguran_terbuka     0.1836     0.1249     1.4697     0.1445     -0.0640      0.4312
jumlah_tindak_pidana            -0.1992     0.1403    -1.4196     0.1586     -0.4773      0.0789
jumlah_penduduk_miskin          -0.0329     0.1666    -0.1973     0.8440     -0.3630      0.2973
================================================================================================

In [125]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Regresi panel dengan efek tetap (fixed effects)
model_fe = smf.ols('selang_waktu ~ 1 + indeks_pembangunan_manusia + tingkat_pengangguran_terbuka + jumlah_tindak_pidana + jumlah_penduduk_miskin + C(daerah) + C(tahun)', data=df).fit()

# Tampilkan summary hasil regresi
print(model_fe.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           selang_waktu   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.221
Method:                 Least Squares   F-statistic:                     1.747
Date:                Fri, 28 Jun 2024   Prob (F-statistic):             0.0187
Time:                        09:36:26   Log-Likelihood:                -120.20
No. Observations:                 114   AIC:                             328.4
Df Residuals:                      70   BIC:                             448.8
Df Model:                          43
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                             3.8221      3.675      1.040      0.302      -3.508      11.152
C(daerah)[T.-1.7926357234674621]     -4.1966      3.209     -1.308      0.195     -10.597       2.204
C(daerah)[T.-1.6393692079688753]     -2.7050      3.283     -0.824      0.413      -9.252       3.842
C(daerah)[T.-1.4999290291293157]     -2.0596      2.308     -0.893      0.375      -6.662       2.543
C(daerah)[T.-1.3699436477540554]      0.4704      2.427      0.194      0.847      -4.370       5.311
C(daerah)[T.-1.2470278835725852]     -7.7160      5.184     -1.488      0.141     -18.055       2.623
C(daerah)[T.-1.12969587432034]       -3.9812      2.440     -1.632      0.107      -8.847       0.885
C(daerah)[T.-1.0169412214569773]     -4.6690      3.731     -1.251      0.215     -12.110       2.772
C(daerah)[T.-0.9080415456843259]     -4.4666      3.713     -1.203      0.233     -11.872       2.939
C(daerah)[T.-0.8024556780981288]     -2.2260      6.579     -0.338      0.736     -15.347      10.895
C(daerah)[T.-0.6997646512636552]     -4.8207      6.976     -0.691      0.492     -18.735       9.093
C(daerah)[T.-0.5996355287174817]     -5.1651      6.583     -0.785      0.435     -18.295       7.965
C(daerah)[T.-0.5017980623484217]     -6.0520      7.597     -0.797      0.428     -21.203       9.099
C(daerah)[T.-0.4060289901083409]     -8.8631      7.201     -1.231      0.223     -23.225       5.498
C(daerah)[T.-0.31214110589415833]    -3.8605      7.027     -0.549      0.584     -17.875      10.154
C(daerah)[T.-0.21997542985591312]    -3.8007      6.390     -0.595      0.554     -16.545       8.944
C(daerah)[T.-0.12939546098324178]    -2.9712      5.930     -0.501      0.618     -14.799       8.856
C(daerah)[T.-0.04028286841111527]   -11.4690      7.218     -1.589      0.117     -25.865       2.927
C(daerah)[T.0.04746579851550847]     -5.5164      3.834     -1.439      0.155     -13.162       2.130
C(daerah)[T.0.13394166315264103]     -0.6852      2.498     -0.274      0.785      -5.667       4.297
C(daerah)[T.0.21922553108568574]     -2.3442      3.962     -0.592      0.556     -10.246       5.557
C(daerah)[T.0.3033894922518464]      -4.0138      4.752     -0.845      0.401     -13.490       5.463
C(daerah)[T.0.3864982129795582]      -5.3790      4.227     -1.273      0.207     -13.809       3.051
C(daerah)[T.0.4686099888041479]      -3.5988      4.150     -0.867      0.389     -11.875       4.677
C(daerah)[T.0.5497776104530038]      -3.5081      3.665     -0.957      0.342     -10.818       3.801
C(daerah)[T.0.6300490822852773]      -3.5496      3.200     -1.109      0.271      -9.931       2.832
C(daerah)[T.0.7094682230198927]       0.0749      3.367      0.022      0.982      -6.640       6.790
C(daerah)[T.0.7880751716736341]      -1.2100      1.887     -0.641      0.524      -4.974       2.554
C(daerah)[T.0.8659068165097773]      -1.8492      2.046     -0.904      0.369      -5.929       2.230
C(daerah)[T.0.9429971609576099]      -2.2726      3.497     -0.650      0.518      -9.247       4.701
C(daerah)[T.1.019377637551663]       -0.7494      1.702     -0.440      0.661      -4.143       2.645
C(daerah)[T.1.0950773787093966]       2.5919      1.543      1.680      0.097      -0.485       5.669
C(daerah)[T.1.1701234514416137]      -9.3649      6.383     -1.467      0.147     -22.096       3.366
C(daerah)[T.1.2445410617446042]      -1.0673      3.214     -0.332      0.741      -7.477       5.342
C(daerah)[T.1.3183537333648248]       0.0176      1.484      0.012      0.991      -2.942       2.977
C(daerah)[T.1.3915834647881367]      -1.2581      3.400     -0.370      0.712      -8.039       5.523
C(daerah)[T.1.4642508676359316]      -1.8231      2.203     -0.828      0.411      -6.216       2.570
C(daerah)[T.1.5363752891121107]      -3.4814      4.277     -0.814      0.418     -12.012       5.050
C(tahun)[T.8.098650941633388e-05]    -0.2517      0.308     -0.816      0.417      -0.867       0.363
C(tahun)[T.1.2247043761290284]       -1.1456      0.521     -2.200      0.031      -2.184      -0.107
indeks_pembangunan_manusia            2.5989      2.156      1.206      0.232      -1.701       6.898
tingkat_pengangguran_terbuka          0.3246      0.232      1.398      0.167      -0.139       0.788
jumlah_tindak_pidana                  0.3484      0.288      1.211      0.230      -0.225       0.922
jumlah_penduduk_miskin                1.1474      2.386      0.481      0.632      -3.611       5.905
==============================================================================
Omnibus:                        0.022   Durbin-Watson:                   2.812
Prob(Omnibus):                  0.989   Jarque-Bera (JB):                0.133
Skew:                          -0.024   Prob(JB):                        0.936
Kurtosis:                       2.840   Cond. No.                         434.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.